<h1>Player one: <%= @game.player1.name %> Vs. Player two: <%= @game.player2.name %> </h1>

<h2><%= @game.player1.name %>: <%= @game.player1.hit_points %> HP</h2>
<h2><%= @game.player2.name %>: <%= @game.player2.hit_points %> HP</h2>
<%= @game.current_turn.name %>'s turn
<a href="/attack">Attack</a>